<?xml version="1.0"?>
<launch>
  <arg name="quality" default="qhd" />

  <include file="$(find tams_pr2_bringup)/launch/remote.launch.xml">
    <arg name="machine" value="pr2-head" />
    <arg name="pkg" value="gazr" />
    <arg name="launch" value="gazr.launch" />
    <arg name="args" value="ns:=/ rgb:=kinect2/$(arg quality)/image_color_rect camera_info:=kinect2/$(arg quality)/camera_info" />
  </include>

  <include file="$(find tams_pr2_look)/launch/look.launch">
    <arg name="mode" value="gazr" />
    <arg name="velocity" value="0.3" />
  </include>
</launch>
